<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <link rel="stylesheet" href="./assets/css/style.css"> 
</head>

<body>
    <header>
        <section class="benHeader">
            <div class="title">
                <h1>Gestion des bénévoles</h1>
            </div>
            <div class="logo">
                <image src="./assets/img/crm_logo.png" alt="logo du CRM";>
            </div>
        </section>
    </header>

    <main id="app">
        <section class="addForm">
            <div class="addTitle">
                <h2 class="h2">Ajouter un bénévole</h2>
                <h2 class="h2">Supprimer un bénévole</h2>
            </div>
        </section>

            <div class="container">
            <section class="beneform">
                <form id="addBenevoleForm" @submit="addBenevole"> 

                    <div class="decoForm">
                    <div>
                    <label for="prenom">Prénom</label>
                    <input type="texte" name="prenom" placeholder="Obligatoire"  v-model="newBenevole.nom">
                    </div>

                    <div>
                    <label for="nom">Nom</label>
                    <input type="texte" name="nom" placeholder="Obligatoire" v-model="newBenevole.prenom">
                    </div>

                    <div>
                    <label for="telephone">Numéro de téléphone</label>
                    <input type="texte" name="telephone" placeholder="Obligatoire" v-model="newBenevole.telephone">
                    </div>

                    <div>
                    <label for="poste">Poste</label>
                    <input type="texte" name="poste" placeholder="Facultatif" v-model="newBenevole.poste">
                    </div>                    

                    <div class="inputValider">
                    <button type="submit" class="submitButton">Valider</button>
                    </div>
                    
                    </div>

                    <div class="redblock">
                        
                    </div>     

                </form>  
                     
        </section>
        <div class="deleteListe" >   
            <select @change="openDeleteModal"  classe="deleteListe">
                <option class="optionText" value="0"><p class="white">Selectionnez un bénévole</p></option>
                <option class="optionText" v-for="(benevole, index) in listeBenevolesFiltered" :key="index" :value="benevole.id">{{ benevole.prenom }} {{ benevole.nom }}</option>
            </select>
            </div> 
        </div>
        <div id="deleteModal" ref="deleteModal">
            <article v-if="selectedDeleteBenevole != null">
                <button id="btnDeleteModal"  @click="closeDeleteModal">Fermer</button>
                <header>
                    <p>{{  selectedDeleteBenevole.prenom }}</p>                   
                    <p>{{  selectedDeleteBenevole.nom }}</p>
                    <p>{{  selectedDeleteBenevole.telephone }}</p>
                    <p>{{  selectedDeleteBenevole.poste }}</p>
                    <p><button id="btnDelete"  @click="deleteBenevole" class="bin-button"><svg
                        class="bin-top"
                        viewBox="0 0 39 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <line y1="5" x2="39" y2="5" stroke="white" stroke-width="4"></line>
                        <line
                          x1="12"
                          y1="1.5"
                          x2="26.0357"
                          y2="1.5"
                          stroke="white"
                          stroke-width="3"
                        ></line>
                      </svg>
                      <svg
                        class="bin-bottom"
                        viewBox="0 0 33 39"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <mask id="path-1-inside-1_8_19" fill="white">
                          <path
                            d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                          ></path>
                        </mask>
                        <path
                          d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                          fill="white"
                          mask="url(#path-1-inside-1_8_19)"
                        ></path>
                        <path d="M12 6L12 29" stroke="white" stroke-width="4"></path>
                        <path d="M21 6V29" stroke="white" stroke-width="4"></path>
                      </svg>
                    </button>
                    Supprimer</p></button>
                </header>
            </article>          
        </div>  

    </main>
</body>

</html>
