<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <link rel="stylesheet" href="./assets/css/style.css"> 
</head>

<body>
    <header>
        <section class="benHeader">
            <div class="title">
                <h1>Gestion des bénévoles</h1>
            </div>
            <div class="logo">
                <image src="./assets/img/crm_logo.png" alt="logo du CRM";>
            </div>
        </section>
    </header>

    <main id="app">
        <section class="addForm">
            <div class="addTitle">
                <h2 class="h2">Ajouter un bénévole</h2>
                <h2 class="h2">Supprimer un bénévole</h2>
            </div>
        </section>

            <div class="container">
            <section class="beneform">
                <form id="addBenevoleForm" @submit="addBenevole"> 

                    <div>
                    <label for="prenom">Pénom</label>
                    <input type="texte" name="prenom" placeholder="Obligatoire"  v-model="newBenevole.nom">
                    </div>

                    <div>
                    <label for="nom">Nom</label>
                    <input type="texte" name="nom" placeholder="Obligatoire" v-model="newBenevole.prenom">
                    </div>

                    <div>
                    <label for="telephone">Numéro de téléphone</label>
                    <input type="texte" name="telephone" placeholder="Obligatoire" v-model="newBenevole.telephone">
                    </div>

                    <div>
                    <label for="poste">Poste</label>
                    <input type="texte" name="poste" placeholder="Facultatif" v-model="newBenevole.poste">
                    </div>                    

                    <div class="inputValider">
                    <input type="submit" class="button">
                    </div>

                </form>            
        </section>
        <div class="deleteListe" >   
            <select @change="openDeleteModal"  classe="deleteListe">
                <option class="optionText" value="0"><p class="white">Selectionnez un bénévole</p></option>
                <option class="optionText" v-for="(benevole, index) in listeBenevolesFiltered" :key="index" :value="benevole.id">{{ benevole.prenom }} {{ benevole.nom }}</option>
            </select>
            </div> 
        </div>
        <div id="deleteModal" ref="deleteModal">
            <article v-if="selectedDeleteBenevole != null">
                <button id="btnDeleteModal"  @click="closeDeleteModal">Fermer</button>
                <header>
                    <p>{{  selectedDeleteBenevole.prenom }}</p>                   
                    <p>{{  selectedDeleteBenevole.nom }}</p>
                    <p>{{  selectedDeleteBenevole.telephone }}</p>
                    <p>{{  selectedDeleteBenevole.poste }}</p>
                    <p><button id="btnDelete" @click="">Supprimer</p></button>
                </header>
            </article>          
        </div>  

    </main>
</body>

</html>
