<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js" type="module"></script>
    <link rel="stylesheet" href="./assets/css/style.css">  
    <title>Annuaire Bénévoles CRM</title>
</head>

<body >
    <header>
        <section class="benHeader">
            <div class="title">
                <h1>Annuaire des bénévoles du foyer</h1>
            </div>
            <div class="logo">
                <image src="./assets/img/crm_logo.png" alt="logo du CRM";>
            </div>
        </section>
    </header>
    <main id="app">
        <div class="nbrBenevole"><h2>Il existe: {{nbBenevole}} bénévoles</h2></div>
   
        <section class="management"> 
            <h2>Gestion bénévoles</h2>
            <ol>
                <li>Sélectionnez un bénévole</li>
                <li>Editez le bénévole</li>
            </ol>  
            <select @change="selectBenevole" classe="liste">
                <option class="optionText" value="0"><p class="white">Selectionnez un bénévole</p></option>
                <option class="optionText" v-for="(benevole, index) in listeBenevoles" :key="index" :value="benevole.id">{{ benevole.prenom }} {{ benevole.nom }}</option>
            </select>
                <span v-if="benevoleChoice != null">
                    <input type="text" v-model="benevoleChoice.poste"> 
                </span>
        </section> 
        <section class="benevoleTab">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th> 
                    <th></th>                  
                </tr>
            </thead>
            <tbody>
                <tr v-for="benevole of listeBenevoles">
                    <td>{{ benevole.nom }}</td>
                    <td>{{ benevole.prenom }}</td>
                    <td><button :data-id="benevole.id" @click="openModal" class="button">Détails</button></td>                           
                </tr>
            </tbody>
        </table>
        </section>
        <section class="benevoleDiv">
            <div class="benevole" v-for="benevole of listeBenevoles">                            
                    <span>Id :</span> {{ benevole.id }}
                    <span>Téléphone :</span> {{ benevole.telephone }}
                    <span>Poste : </span> {{ benevole.poste }}
            </div>
        </section>
        <div id="modal" ref="modal">
            <article v-if="selectedBenevole != null">
                <button id="btn" class="custom-button" @click="closeModal">Fermer</button>
                <header>
                    <p>{{ selectedBenevole.nom }}</p>                   
                    <p>{{ selectedBenevole.prenom }}</p>
                    <p>{{ selectedBenevole.telephone }}</p>
                    <p>{{ selectedBenevole.poste }}</p>
                </header>
            </article>          
        </div>  
         
    </main>
    
</body>
</html>